---
layout: page
---

{% include divider.html %}

<section id="featureimage">
    <section class="feature-image feature-image-ai">
        <div class="feature-title">
            People to hard to beat?
        </div>
        <div class="feature-subtitle">
            Try again some friendly AIs
        </div>
    </section>
</section>

{% include divider.html %}

<section class="Info">
    <section class="page-info">
        <div class="page-info-container">
            <h2 class="highlightedText">Can you prove who is better man or machine</h2>
            <h1>FAF AI Advancements</h1>
            <p class="page-info-para">Originally, Supreme Commander:FA had very suboptimal AI, being barely able to do anything even trivial. Nonetheless, thanks to the contribution of FAF contributors, now you have 4 quite challenging AIs! Specially on 5x5 and 10x10 land maps, these AIs will show you who's boss! You can download these AIs in the FAF client Mods section.</p>
            <br>
        </div>
    </section>
</section>

{% include divider.html %}

<section id="commands" >

    <div class="featureRight">
        <div class="featureRightContainer">
            <h2 class="highlightedText">M27</h2>
            <p>Adaptive AI, intended for 20km and smaller maps.  Est 700 1v1 ladder - 1200 global rating.</p>
            <br>
            <p><b>Author :</b> maudlin27</p>
        </div>
        <div class="featureRightImage coop"></div>
    </div>

    <div class="featureLeft">
        <div class="featureLeftImage mods"></div>
        <div class="featureLeftContainer">
            <h2 class="highlightedText">M28</h2>
            <p>Competitive AI for FAF utilising advanced micro.  Faster to run than M27 in teamgames, similar in difficulty.  Estimated as challenging for a 700-1200 rated player. Supports FA, SC and Seraphim campaigns (as an AI teammate)
            </p>
            <br>
            <p><b>Author :</b> maudlin27</p>
        </div>
    </div>

    <div class="featureRight">
        <div class="featureRightContainer">
            <h2 class="highlightedText">RNGAI</h2>
            <p>AI aimed at the players wanting to learn 1v1 gameplay. It provides an avenue to play against something that emulates some of the methods ladder players use!.</p>
            <br>
            <p><b>Author :</b> Relent0r</p>
        </div>
        <div class="featureRightImage coop"></div>
    </div>

    <div class="featureLeft">
        <div class="featureLeftImage mods"></div>
        <div class="featureLeftContainer">
            <h2 class="highlightedText">AI-Uveso</h2>
            <p>Adaptive AI with multiple sub AIs in order for players to have control on the behavior of the AI! The sub AIs are Adaptive, Overwhelm, Rush, Experimental and Easy!
            </p>
            <br>
            <p><b>Author :</b> Uveso</p>
        </div>
    </div>

    <div class="featureRight">
        <div class="featureRightContainer">
            <h2 class="highlightedText">AI-Swarm</h2>
            <p>Swarm is a bit of a middle grounded AI, it is regarded as the most solid economic AI. It tends to be heavy on land but it adapts to air and naval situations!</p>
            <br>
            <p><b>Author :</b> AzraelianAngel</p>
        </div>
        <div class="featureRightImage coop"></div>
    </div>

    <div class="featureLeft">
        <div class="featureLeftImage mods"></div>
        <div class="featureLeftContainer">
            <h2 class="highlightedText">DilliDalli</h2>
            <p>Alpha Version : 1v1 specialist AI </p>
            <br>
            <p><b>Author :</b> Softles</p>
        </div>
    </div>

    <div class="featureBottom"></div>

</section>

{% include divider.html %}