---
layout: base
---

{% include divider.html %}

<section name="Info">
    <section class="Cmd-Info-Container">
        <div class="Cmd-Info-Text">
            <h2 class="highlightedText">FAF Default Hotkeys / Commands </h2>
            <h1>Optimise your playstyle</h1>
            <p class="Cmd-Info-Para">Content Still being Prepared</p>
            <br>
        </div>
    </section>
</section>

{% include divider.html %}

<section name="commands" >
    <section class="Cmd-Content-Container">
        <h1>Selection</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius laborum incidunt cupiditate dolore unde officiis ab. Vitae, qui officiis. Suscipit molestiae, amet consequuntur possimus autem aut pariatur necessitatibus deserunt asperiores!</p>

    </section>
</section>

{% include divider.html %}