---
layout: base
---

{% include divider.html %}

<section id="featureimage">
    <section class="feature-image feature-image-ai">
        <div class="feature-title">
            FIGHT TOGETHER WITH FRIENDS
        </div>
        <div class="feature-subtitle">
            With new and exsisting co-op campaigns and missions
        </div>
    </section>
</section>

{% include divider.html %}

<section class="Info">
    <section class="page-info">
        <div class="page-info-container">
            <h2 class="highlightedText">Enjoy the nostalgia with friends</h2>
            <h1>FA Coop Campaign & Custom Missions</h1>
            <p class="page-info-para">FAF has implemented the co-op feature into the campaign. This means now you can play either of the four original campaigns with up to three friends (four players)! But! That's not all, FAF contributors are also working on creating two new campaigns! One for Seraphim and another one for the coalition! However, be warned that the new campaigns are meant to present a real challenge to seasoned players. If you need some help or have questions, feel free joining the FAF Campaign Development Discord or the FAF Discord!</p>
            <br>
        </div>
    </section>
</section>

{% include divider.html %}

<section id="commands" >

    <div class="featureRight">
        <div class="featureRightContainer">
            <h2 class="highlightedText">All 24 missions</h2>
            <h1>All Original Campaigns</h1>
            <p>Enjoy the complete Supreme Commander campaign with up to four players! All 24 missions from the UEF, Cybran, Aeon and Coalition/Forged Alliance Campaigns are already unlocked on the FAF client, all you need to do is hop in with your friends and play together!</p>
        </div>
        <div class="featureRightImage original"></div>
    </div>

    <div class="featureLeft">
        <div class="featureLeftImage sera-campaign"></div>
        <div class="featureLeftContainer">
            <h2 class="highlightedText">The Seraphim's last stand</h2>
            <h1>New Seraphim Campaign</h1>
            <p>After being defeated by the coalition, the Seraphim must stand up with everything they have and make their last stand! Rise up with the new Seraphim campaign for the hardcore players that want to face the toughest challenge with no backup.</p>
        </div>
    </div>

    <div class="featureRight">
        <div class="featureRightContainer">
            <h2 class="highlightedText">Want a real challenge?</h2>
            <h1>New Coalition Campaign</h1>
            <p>If you want a challenge and yet want to keep playing with coalition factions, then we got some good news for you! Our contributors are also working on a new co-op campaign with the coalition.</p>
        </div>
        <div class="featureRightImage coalition-campaign"></div>
    </div>

    <div class="featureLeft">
        <div class="featureLeftImage misssions"></div>
        <div class="featureLeftContainer">
            <h2 class="highlightedText">Extra missions</h2>
            <h1>New Custom Missions</h1>
            <p>Even if you have beaten all these campaigns, FAF also has a couple new missions to offer. From rescuing civilians on Theta to crushing a Novax station, you got even more FAF content!</p>
        </div>
    </div>

    <div class="featureRight">
        <div class="featureRightContainer">
            <h2 class="highlightedText">AI-Swarm</h2>
            <p>Swarm is a bit of a middle grounded AI, it is regarded as the most solid economic AI. It tends to be heavy on land but it adapts to air and naval situations!</p>
            <br>
            <p><b>Author :</b> AzraelianAngel</p>
        </div>
        <div class="featureRightImage coop"></div>
    </div>

    <div class="featureLeft">
        <div class="featureLeftImage mods"></div>
        <div class="featureLeftContainer">
            <h2 class="highlightedText">DilliDalli</h2>
            <p>Alpha Version : 1v1 specialist AI </p>
            <br>
            <p><b>Author :</b> Softles</p>
        </div>
    </div>

    <div class="featureBottom"></div>

</section>

{% include divider.html %}

<section class="Info">
    <section class="page-info">
        <div class="page-info-container">
            <h1>Help develop or create your own mission!</h1>
            <p class="page-info-para">As you may be thinking, a lot of these new campaigns or missions are being developed by FAF contributors. Therefore, it is possible for you to create one too! Albeit it can be challenging at first if you don't have much experience, many FAF contributors can guide and help you at first so you can create your own custom missions! Just join the Campaign Development Discord and ask around!</p>
            <br>
            <a class="featureButton" href="">Campaign Discord</a>
        </div>
    </section>
</section>

{% include divider.html %}