---
layout: base
---

{% include divider.html %}

<section id="Info">
    <section class="page-info">
        <div class="page-info-container">
            <h2 class="highlightedText">Balance & Game Changes</h2>
            <h1>Under Development</h1>
            <p class="page-info-para">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos commodi autem necessitatibus tenetur beatae ullam in ab? Sapiente, eaque facilis facere perspiciatis quod pariatur exercitationem minima aut enim, maiores saepe!</p>
            <br>
        </div>
    </section>
</section>

{% include divider.html %}

<section id="commands" >
    <section class="command-container">
        <h1>Selection</h1>
    </section>
</section>

{% include divider.html %}