---
layout: base
---

{% include divider.html %}

<section id="featureimage">
    <section class="feature-image feature-image-ai">
        <div class="feature-title">
            IMPROVING THE CORE GAME
        </div>
        <div class="feature-subtitle">
            MAINTAINING THE BEST FEATURES AND REMOVING THE WORST ISSUES
        </div>
    </section>
</section>

{% include divider.html %}

<section class="Info">
    <section class="page-info">
        <div class="page-info-container">
            <h2 class="highlightedText">Enjoy the nostalgia with friends</h2>
            <h1>FA Coop Campaign & Custom Missions</h1>
            <p class="page-info-para">In this page you will find the biggest and most signficant changes done in FAF. From certain mods being part of the game (such as Engymod), adding additional hotkey layouts and more customization, allowing 16 player matches, to all the small unit value tweaks (such as reducing AA damage from Restorers). If you want to learn all the details, you can read more in the FAF wiki.</p>
            <br>
            <a class="featureButton" href="https://wiki.faforever.com/en/FAQ/Changes-from-steam">Wiki Steam Changes Page</a>
        </div>
    </section>
</section>

{% include divider.html %}

<section id="commands" >

    <div class="featureRight">
        <div class="featureRightContainer">
            <h1>Support Factories</h1>
            <p>Instead of having to assist only one T2 or T3 factory. Now mass production of T2-T3 armies is possible with support factories. Now your first T2 or T3 factory will be a "HQ" factory, unlocking the new units which can also be built in support factories (cheaper T2-T3 factories that can only build units of that tier as long as the HQ is alive).</p>
        </div>
        <div class="featureRightImage original"></div>
    </div>

    <div class="featureLeft">
        <div class="featureLeftImage sera-campaign"></div>
        <div class="featureLeftContainer">
            <h1>More Hotkeys/Hotbuild</h1>
            <p>Hotbuild is a mod which lets you quickly queue buildings and units via hotkeys instead of having to click the build menu. It does this by having multiple structures/units bound to the same key, which you press multiple times to cycle through.</p>
        </div>
    </div>

    <div class="featureRight">
        <div class="featureRightContainer">
            <h1>Lobby Changes</h1>
            <ul>
                <li>Maximum player count was increased to 16.</li>
                <li>In addition to unit categories,it's possible to restrict specific units.</li>
                <li>If you hate mercies or have a grudge towards UEF T3 gunships, you have the power to disable specifically them.</li>
                <li>Improved AI known as Sorian AI has been added.</li>
                <li>Option to auto-balance teams based on rating.</li>
            </ul>
            <br>
            <p>And Much more !!</p>
        </div>
        <div class="featureRightImage coalition-campaign"></div>
    </div>

    <div class="featureLeft">
        <div class="featureLeftImage misssions"></div>
        <div class="featureLeftContainer">
            <h1>Overcharge</h1>
            <ul>
                <li>Starting energy storage was reduced to 4000. An energy storage has to be built before overcharge can be used.</li>
                <li>Overcharge was tweaked to require more energy in order to deal more damage. This makes T3 units more effective versus an ACU, since more energy is required to kill them.</li>
                <li>An auto-overcharge was added. When enabled, ACUs will automatically overcharge best targets when possible.</li>
            </ul>
        </div>
    </div>

    <div class="featureRight">
        <div class="featureRightContainer">
            <h1>Veterancy</h1>
            <p>Original veterancy system counted number of kills, making high tier units vet very quickly from killing many T1 units. FAF replaced this system with mass-based veterancy, where most units have to kill 200% of their mass cost in order to gain a veterancy level. Veterancy is now also shared by all units that damaged the dying unit, proportionally to damage dealt.</p>
        </div>
        <div class="featureRightImage coop"></div>
    </div>

    <div class="featureLeft">
        <div class="featureLeftImage mods"></div>
        <div class="featureLeftContainer">
            <h2 class="highlightedText">DilliDalli</h2>
            <h1>Miscellaneous Changes</h1>
            <ul>
                <li>Naval units leave underwater wreckage (now wrecks can be reclaimed after a navy fight for their mass).</li>
                <li>Unit groups can be given special targetting priorities, such as engineers first, economy units first, ACU first, and so on. Available via a UI mod called Target Priorities.</li>
            </ul>
        </div>
    </div>

    <div class="featureBottom"></div>

</section>

{% include divider.html %}

<section class="Info">
    <section class="page-info">
        <div class="page-info-container">
            <h1>PatchNotes</h1>
            <p class="page-info-para">If you want to find out all the small tweaks done to units across the years. Such as changing the speed of hover units from 4.3 to 3.0, or the turning rate of certain weapons. Below you will find a link to the patchnotes starting from 2015.</p>
            <br>
            <a class="featureButton" href="{{ site.baseurl}}/game/patchnotes.html">FAF Patchnotes</a>
        </div>
    </section>
</section>

{% include divider.html %}