---
layout: base
---

{% include divider.html %}

<section name="Home Image">

    <section class="Home-Img">
        <div class="Home-Img-title Home-Img-BG">
            AN RTS CLASSIC REBORN
        </div>
        <div class="Home-Img-subtitle">
            MASSIVE SCALE WARFARE
        </div>
    </section>  

</section>

{% include divider.html %}

<section name="Home Info">
    <section class="Home-Container">
        <div class="Home-Info">
            <h2 class="highlightedText">JOIN THOUSANDS</h2>
            <h1>IN THE BATTLEFIELD</h1>
            <p class="Home-Paragraph">Forged Alliance Forever (FAF) is a community-driven project that has continued the development of Supreme Commander: FA since 2011. Bringing this classic RTS to the modern world with well deserved quality of life updates. Ranging from co-op campaigns, matchmaking, smarter AIs, new gamemodes, easy to install mods and maps and up to 16 player in one match. Join one of the biggest RTS communities and deliver absolute warfare!</p>
        </div>
    </section>
</section>

{% include divider.html %}

<section id="features">
        <div class="Feature-Right-Container">
            <div class="Feature-Right-Text">
                <h2 class="highlightedText">Better Together</h2>
                <h1>Co-Op Campaign &amp; Custom Missions</h1>
                <p>Enjoy the complete Supreme Commander:FA campaign with up to four players, a FAF-made Seraphim Campaign with 6 new challenging missions and new standalone hardcore missions for the PVE war veterans that want the AI to absolutely destroy them with the toughest battles.
                </p>
                <br>
                <a class="featureButton" href="#coop">Coop Overview</a>
            </div>
            <div class="Feature-Right-Image Coop-BG"></div>
        </div>

        <div class="Feature-Left-Conatiner">
            <div class="Feature-Left-Image Mods-BG"></div>
            <div class="Feature-Left-Text">
                <h2 class="highlightedText">Your Way</h2>
                <h1>Custom Maps &amp; Mods</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio iusto sed labore sapiente. Quos quisquam nesciunt animi cupiditate non culpa, adipisci voluptas autem rem harum. Doloremque, modi aliquid! Minima, dolorum.
                </p>
                <br>
                <a class="featureButton" href="#">More Info</a>
            </div>
        </div>

        <div class="Feature-Right-Container">
            <div class="Feature-Right-Text">
                <h2 class="highlightedText">Friends or Foe</h2>
                <h1>The Community</h1>
                <p>Our diverse playerbase makes sure you have a spot in our community. Whether you want to experience surviving against waves of enemy AI, play custom games, rise in the matchmaking ladder or just have fun with friends, FAF has a space for you..
                </p>
                <br>
                <a class="featureButton" href="#discord">Discord</a>
            </div>
            <div class="Feature-Right-Image Community-BG"></div>
        </div>

        <div class="Feature-Left-Conatiner">
            <div class="Feature-Left-Image Competitive-BG"></div>
            <div class="Feature-Left-Text">
                <h2 class="highlightedText">Macro over Micro</h2>
                <h1>Competive Tournaments</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio iusto sed labore sapiente. Quos quisquam nesciunt animi cupiditate non culpa, adipisci voluptas autem rem harum. Doloremque, modi aliquid! Minima, dolorum.
                </p>
                <br>
                <a class="featureButton" href="#">More Info</a>
            </div>
        </div>

        <div class="Feature-Bottom-Space"></div>
</section>

{% include divider.html %}

<section id="play">

    <section class="Play-Now-Container">
        <div class="Play-Now-Text">
            <h2>Ready to Play Commander?</h2>
            <h1 class="highlightedText"> EXPERIENCE SUPPREME COMMANDER</h1>
            <h1>THE WAY IT WAS INTENDED</h1>
        </div>
        <div class="Play-Now-Text">
            <a class="featureButton" href="">Play Now</a>
            <a class="featureButton" href="">Join the Discord</a>
        </div>
    </section>

</section>

{% include divider.html %}