.footer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  justify-content: center;
  color: lightgray;
  background: url(../images/index/black1.jpg) center/cover;
  padding: 4em 2em;
  position: relative;
  overflow: hidden;
  text-align: center;
  transition: 0.4s;
  gap: 0;
}

.footerContainer {
  grid-column: span 12;
}
.footerItem {
  grid-column: 5 / span 4;
  line-height: 2em;
  transition: 0.4s;
}
.footerItem img {
  width: 192px;
  height: 104px;
}
.footerItem ul {
  padding: 2.5em;
  display: inline-block;
  list-style: none;
  color: white;
}
.footerItem a {
  color: #b2b2b2;
  text-decoration: none;
}
