<section id="flash-messages">
    
    <!-- RED ALERT

        <div class="danger">
            <div class="dangerIcon">
                <i class="fa-solid fa-circle-xmark fa-2xl" style="color: var(--danger-seconday);"></i>
            </div>
            <div class="dangerText">
                Services are currently down for maintance. We will be back soon.
            </div>
        </div>

    -->

    <!-- AMBER ALERT

        <div class="warning">
            <div class="warningIcon">
                <i class="fa-solid fa-triangle-exclamation fa-2xl" style="color: var(--warning-seconday);"></i>
            </div>
            <div class="warningText">
                Services are currently down for maintance. We will be back soon.
            </div>
        </div>

    -->

    <!-- GREEN ALERT

        <div class="success">
            <div class="successIcon">
                <i class="fa-solid fa-check fa-2xl" style="color: var(--success-seconday);"> </i>
            </div>
            <div class="successText">
                Services are currently down for maintance. We will be back soon.
            </div>
        </div>

    -->

    <!-- BLUE ALERT

        <div class="info">
            <div class="infoIcon">
                <i class="fa-solid fa-circle-info fa-2xl" style="color: var(--info-seconday);"></i>
            </div>
            <div class="infoText">
                Services are currently down for maintance. We will be back soon.
            </div>
        </div>
    
    -->
</section>