<footer class="footer">
    <div class="footerContainer">
        <div class="footerItem">
            <a href="">
                <img src="{{ site.baseurl }}/assets/images/index/faflogo.png" alt="Forged Alliance Forever Logo">
            </a>
            <h1>FORGED ALLIANCE FOREVER</h1>
        </div>
    </div>
    <div class="footerContainer">
        <div class="footerItem">
            <ul>
                ETIQUETTE
                <li>
                    <a href="{{ site.baseurl }}/contributionguidelines/cg-en.html">CONTRIBUTION GUIDELINES</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/rules/rules-en.html">RULES</a>
                </li>
            </ul>
            <ul>
                CONTRIBUTE
                <li>
                    <a href="{{ site.baseurl }}/">CONTRIBUTIONS</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/">DONTATIONS</a>
                </li>
            </ul>
            <ul>
                LEGAL
                <li>
                    <a href="{{ site.baseurl }}/privacy/privacy-en.html">PRIVACY STATEMENT</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/tos/tos-en.html">TERMS OF SERVICE</a>
                </li>
            </ul>
            <ul>
                CONTACT US
                <li>
                    <a href="#">DISCORD</a>
                </li>
                <li>
                    <a href="#">FORUMS</a>
                </li>
            </ul>
        </div>
    </div>
</footer>