<section>
    <!-- Services Nav -->
    <nav id="servicesNav" class="servicesNavContainer">
        <div name="LiveGames" class="serviceLinkNav">
            <a href="/pages/servicesBar/LiveMatches">Live Games</a>
        </div>
        <div name="Replays" class="serviceLinkNav">
            <a href="/pages/servicesBar/Replays">Replays</a>
        </div>
        <div name="Leaderboard" class="serviceLinkNav">
            <a href="/pages/servicesBar/Leaderboard">Leaderboard</a>
        </div>
        <div name="Forum" class="serviceLinkNav">
            <a href="/pages/servicesBar/Forum.html">Forum</a>
        </div>
        <div name="Wiki" class="serviceLinkNav">
            <a href="https://wiki.faforever.com/en/home">Wiki</a>
        </div>
        <div name="Clans" class="serviceLinkNav">
            <a href="">Clans</a>
        </div>
        <div name="Account" class="serviceLinkNav">
            <a href="">Account</a>
        </div>
    </nav>

    <!-- Main Nav -->
    <nav id="mainNav" class="mainNavContainer">
        <!-- Logo -->
        <div class="logo">
            <a href="{{site.baseurl}}/index.html">
                <img id="logo" src="{{site.baseurl/assets/images/index/faflogo.png}}" alt="FAF">
            </a>
        </div>

        <!-- Main Nav-->
        <div class="mainNav">
            <a href="{{site.baseurl}}/index.html"> HOME</a>
            
            <!-- Information -->
            <div class="dropdown">
                <button class="dropbtn">dropdown</button>
                <div class="dropdown-content">
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                </div>
            </div>
        </div>
        <div>Information
            <ul>
                <div>News</div>
                <div>Guides</div>
                <div>Commands</div>
                <div>Maps</div>
                <div>Screenshots</div>
                <div>Gameplay</div>
                <div>FAQ</div>
                <div>Code Of Conduct</div>
                <div>Coop/Missions</div>
                <div>Rules</div>
            </ul>
        </div>
        <div>Development
            <ul>
                <div>Overview</div>
                <div>AI</div>
                <div>Balance</div>
                <div>Team</div>
                <div>Association</div>
                <div>Contribution Guidlines</div>
            </ul>
        </div>
        <div>Donate</div>
        <div>Play</div>

        <div>
            <ul>
                Discord
                Youtube
                Twitter
                Github
            </ul>
        </div>
    </nav>
</section>