@import url('/assets/css/root.css');


/* ------ Home Content ------ */

/* Feature Image  */
.feature-image {
    display: grid;
    grid-template-columns: 1fr;
    background-position: center;
    background-size: cover;
    padding: 9.5% 0;
    letter-spacing: 1.2px;
    text-shadow: 0 0 7.5px black, 0 0 7.5px black;
}
.feature-title{
    font-size: 36px;
    font-weight: bolder;
    letter-spacing: 6px;
    padding: 0.5em 0;
    color: var(--Default-Text);
    text-align: center;
}
.feature-subtitle {
    font-size: 30px;
    font-weight: bolder;
    letter-spacing: 6px;
    padding: 0.5em 0;
    color: var(--Default-Text);
    text-align: center;
}

.feature-image-clan {
    background-image: url(../images/index/community.jpg);
}
.feature-image-contribute {
    background-image: url(../images/index/creative.jpg);
}
.feature-image-ai {
    background-image: url(../images/pages/ai.jpg);
}
.feature-image-ai {
    background-image: url(../images/pages/campaign.jpg);
}

.page-info {
    display: grid;
    grid-template-columns: repeat(12,1f);
    grid-template-rows: 1fr;
    grid-auto-columns: auto;
    transition: 0.4s;
    gap: 0;
    overflow: hidden;
    position: relative;
    align-items: center;
    background-image: url(../images/index/blackbg.jpg);
    background-size: cover;
    background-position: center;
    padding: 8em;
}
.page-info-container {
    grid-column: span 12;
    text-align: center;
    color: var(--Default-Text);
}
.page-info-para{
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 1.2px;
    padding: 0.5em 0;
}

.command-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-auto-columns: auto;
    transition: 0.4s;
    gap: 0;
    overflow: hidden;
    position: relative;
    align-items: center;
    margin: 2vw 2vw 2vw 2vw;
    padding: 1.5vw;
    background-color: var(--Primary-Color);
    border-radius: 10px;
}



/* Features */
.featureRight {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-auto-columns: auto;
    transition: 0.4s;
    gap: 0;
    overflow: hidden;
    position: relative;
    align-items: center;
    margin: 3vw 2vw 0 20vw;
}
.featureRightContainer {
    grid-column: span 6;
    background-color: var(--Primary-Color);
    text-align: left;
    padding: 3em;
    opacity: 0.9;
    color: var(--Default-Text);
    border-radius: 10px 0 0 10px;
}
.featureRightImage {
    grid-column: span 6;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    min-width: 200px;
    min-height: 200px;
    border-radius: 0 10px 10px 0;
}
.featureLeft {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-auto-columns: auto;
    transition: 0.4s;
    gap: 0;
    overflow: hidden;
    position: relative;
    align-items: center;
    margin: 3vw 20vw 0 2vw;
}
.featureLeftContainer {
    grid-column: span 6;
    background-color: var(--Primary-Color);
    text-align: left;
    padding: 3em;
    opacity: 0.9;
    color: var(--Default-Text);
    border-radius: 0 10px 10px 0;
}
.featureLeftImage {
    grid-column: span 6;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    min-width: 200px;
    min-height: 200px;
    border-radius: 10px 0 0 10px;
}
.featureBottom {
    margin: 0 0 2vw 0;
}


.original {
    background-image: url(../images/pages/original.jpg);
}
.sera-campaign {
    background-image: url(../images/pages/seraphim.jpg);
}
.coalition-campaign {
    background-image: url(../images/pages/coalition.jpg);
}
.misssions {
    background-image: url(../images/pages/missions.jpg);
}


.coop {
    background-image: url(../images/index/coop.jpg);
}
.mods {
    background-image: url(../images/index/creative.jpg);
}
.community {
    background-image: url(../images/index/community.jpg);
}
.competitive {
    background-image: url(../images/index/strategic.jpg);
}

/* Play Now */
.playnow {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 1fr;
    grid-auto-columns: auto;
    transition: 0.4s;
    gap: 0;
    overflow: hidden;
    position: relative;
    align-items: center;
    padding: 10vw 5vw;
    background-image: url(../images/index/bannerfooter.jpg);
    background-size: cover;
    background-position: center center;
    text-align: left;
    color: var(--Default-Text);
}
.playnow h1, .playnow h2 {
    text-shadow: 0 2px 4px black, 0 8px 16px black;
}
.playnowContainer {
    grid-column: span 12;
    padding: 1em;
}