---
layout: page
---

{% include divider.html %}

<section id="featureimage">

    <section class="feature-image feature-image-clan">
        <div class="feature-title">
            Join a Clan
        </div>
        <div class="feature-subtitle">
            Find your new home
        </div>
    </section>
</section>

{% include divider.html %}

<section class="Info">

    <section class="page-info">
        <div class="page-info-container">
            <h2 class="highlightedText">CLANS</h2>
            <h1>Clans Module is under development!</h1>
            <p class="page-info-para">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos commodi autem necessitatibus tenetur beatae ullam in ab? Sapiente, eaque facilis facere perspiciatis quod pariatur exercitationem minima aut enim, maiores saepe!</p>
            <br>
            <a class="featureButton" href="#">
                Vist Clans
            </a>
        </div>
    </section>

</section>

{% include divider.html %}