---
layout: page
---

{% include divider.html %}

<section id="featureimage">
    <section class="feature-image feature-image-contribute">
        <div class="feature-title">
            FAF Contribution
        </div>
        <div class="feature-subtitle">
            Want to make a difference?
        </div>
    </section>
</section>

{% include divider.html %}

<section class="Info">

    <section class="page-info">
        <div class="page-info-container">
            <h2 class="highlightedText">Contributions</h2>
            <h1>How to Contribute to FAF</h1>
            <p class="page-info-para">FAF isn't being maintained by any company or business. It is being built upon the contributions of hundreds of individuals, all with different talents, giving a bit of their time and expertise to develop FAF more and more. Whether you are a programmer, graphic designer, content creator or multilingual, FAF has a space for you to use your skills for the betterment of the community!</p>
            <br>
        </div>
    </section>

</section>

{% include divider.html %}

<section>

    <div class="featureRight">
        <div class="featureRightContainer">
            <h2 class="highlightedText">Fixing bugs, improving performance</h2>
            <h1>Game development</h1>
            <p>Want to help fix a game issue? Create your own Co-op mission? Then you can help with development on Github. To start, join our discord so that you can talk with the correct dev and invite you to our Zulip. It is recommended (but not necessary!) knowing some Lua for game developlment, Python for the server work or Java for the FAF client.</p>
            <br>
            <a class="featureButton" href="#">Join the Discussion</a>
        </div>
        <div class="featureRightImage original"></div>
    </div>

    <div class="featureLeft">
        <div class="featureLeftImage sera-campaign"></div>
        <div class="featureLeftContainer">
            <h2 class="highlightedText">Infinite possibilities</h2>
            <h1>Map Development</h1>
            <p>
                Map development is a great way to contribute to FAF. Whether you are a beginner or an experienced map maker, you can help us create new maps for the community to enjoy. If you are new to map making, you can check out the map making guide on the wiki. If you are an experienced map maker, you can join our discord and talk with the other map makers.
            </p>
            <br>
            <a class="featureButton" href="https://wiki.faforever.com/en/Development/Mapping">Wiki Infomation</a>
        </div>
    </div>

    <div class="featureRight">
        <div class="featureRightContainer">
            <h2 class="highlightedText">Multiple Permutations</h2>
            <h1>Mod Development</h1>
            <p>
                Mod Development is a great way to contribute to FAF. Whether you are a beginner or an experienced modder, you can help us create new mods for the community to enjoy. If you are new to modding, you can check out the modding guide on the wiki. If you are an experienced modder, you can join our discord and talk with the other modders.
            </p>
            <br>
            <a class="featureButton" href="https://wiki.faforever.com/en/Development/Modding/Modding">Modding Guide</a>
        </div>
        <div class="featureRightImage coalition-campaign"></div>
    </div>

    <div class="featureLeft">
        <div class="featureLeftImage misssions"></div>
        <div class="featureLeftContainer">
            <h2 class="highlightedText">Become our guinea pig</h2>
            <h1>Testing & bug Reports</h1>
            <p>Want to be the first one to try the latest features? Then you can help as a tester for balance patches, client updates and by testing the latest new mods or AIs from our developers. Just join our Discord and grab the tester role!</p>
            <br>
            <a class="featureButton" href="https://discord.gg/zD8XWhttcb">Join the Discord</a>
        </div>
    </div>

    <div class="featureBottom"></div>

</section>

{% include divider.html %}