---
layout: base
---

{% include divider.html %}

<section id="Info">
    <section class="page-info">
        <div class="page-info-container">
            <h2 class="highlightedText">Map Showcase</h2>
            <h1>Under Development</h1>
            <p class="page-info-para">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos commodi autem necessitatibus tenetur beatae ullam in ab? Sapiente, eaque facilis facere perspiciatis quod pariatur exercitationem minima aut enim, maiores saepe!</p>
            <br>
        </div>
    </section>
</section>

{% include divider.html %}

<section name="maps" >
    <section class="map-container">
        <h1 class="map-container-title">Selection</h1>

        <div class="map-card">
            <a href=""><img src="{{ site.baseurl}}/assets/maps/project_vortex/mapcard.png"></a>
            <div>
                <h2>Project Vortex</h2>
                <br>
                <a href="" class="featureButton"> More infomaion</a>                
            </div>
        </div>

        <div class="map-card">
            Blank 2
        </div>

        <div class="map-card">
            Blank 3
        </div>

        <div class="map-card">
            Blank 4
        </div>

    </section>
</section>

{% include divider.html %}