@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans:wght@300&family=Poppins:wght@200&family=Ubuntu&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");

:root {
  --nav-BG: #333;
  --PrimaryBackground: #111;
}

* {
  margin: 0px;
  font-family: var(--Primary-Font);
}
body {
  background-color: var(--PrimaryBackground);
  color: #333;
  letter-spacing: -1px;
  font-family: poppins, sans-serif;
  font-size: 18px;
  line-height: 20px;
}
h1 {
  color: var(--Default-Text);
  font-size: var(--h1);
}
h2 {
  color: var(--Default-Text);
  font-size: var(--h2);
}
p {
  color: var(--Default-Text);
  font-size: var(--p);
}
